<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      class="x_MsoNormalTable"
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="border-collapse: collapse"
    >
      <tbody>
        <tr>
          <td valign="top" style="padding: 0in 0in 0in 0in">
            <div align="center">
              <table
                class="x_MsoNormalTable"
                border="0"
                cellspacing="0"
                cellpadding="0"
                style="border-collapse: collapse"
              >
                <tbody>
                  <tr>
                    <td valign="top" style="padding: 0in 0in 0in 0in">
                      <table
                        class="x_MsoNormalTable"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              style="padding: 0in 7.5pt 6.75pt 0in"
                            >
                              <table
                                class="x_MsoNormalTable"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                width="100%"
                                style="width: 100%; border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding: 3.75pt 7.5pt 3.75pt 6.75pt;
                                      "
                                    >
                                      <table
                                        class="x_MsoNormalTable"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="left"
                                        width="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width="24"
                                              style="
                                                width: 0.25in;
                                                padding: 0in 0in 0in 0in;
                                              "
                                            >
                                              <p
                                                class="x_MsoNormal"
                                                align="center"
                                                style="text-align: center"
                                              >
                                                <a
                                                  href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftwitter.com%2FAROBSSoftware&amp;data=05%7C01%7Chorea.rosca%40arobs.com%7C16f07c3889b44c7b152908db6daaef75%7C862d9b8748a54ed9b64a0f6677b9f873%7C0%7C0%7C638224353193285177%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=L%2BZSKcKXeCUTMaRh1rPkSddiKQkxchIAWR%2BXl9ojQEg%3D&amp;reserved=0"
                                                  target="_blank"
                                                  rel="noopener noreferrer"
                                                  data-auth="Verified"
                                                  originalsrc="https://twitter.com/AROBSSoftware"
                                                  shash="ws2aWFy8HW6GoFpyEpcnzAJUA8rkMQFJbZdKpvAridqHdMkCxDawQBytKWGkyZEE49ypumqja8XWWOUkvq8fTK0CP8PEoP5GcljsOSpeXv/uwGE24mRZGq7YHDzSOmv7jR+Ym1IiSASzEgo2W8mru0a6ZVVx8qmRG67/u/egwHQ="
                                                  title="Original URL: https://twitter.com/AROBSSoftware. Click or tap if you trust this link."
                                                  data-ogsc=""
                                                  data-linkindex="3"
                                                  style="
                                                    color: rgb(
                                                      219,
                                                      151,
                                                      255
                                                    ) !important;
                                                  "
                                                  ><span
                                                    style="
                                                      color: rgb(
                                                        212,
                                                        144,
                                                        255
                                                      ) !important;
                                                      text-decoration: none;
                                                    "
                                                    data-ogsc="blue"
                                                    ><img
                                                      data-imagetype="External"
                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png"
                                                      border="0"
                                                      width="24"
                                                      height="24"
                                                      id="x__x0000_i1030"
                                                      alt="Twitter"
                                                      style="
                                                        width: 0.25in;
                                                        height: 0.25in;
                                                        color: rgb(
                                                          212,
                                                          144,
                                                          255
                                                        ) !important;
                                                      "
                                                      data-ogsc="" /></span
                                                ></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td valign="top" style="padding: 0in 0in 0in 0in">
                      <table
                        class="x_MsoNormalTable"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              style="padding: 0in 7.5pt 6.75pt 0in"
                            >
                              <table
                                class="x_MsoNormalTable"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                width="100%"
                                style="width: 100%; border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding: 3.75pt 7.5pt 3.75pt 6.75pt;
                                      "
                                    >
                                      <table
                                        class="x_MsoNormalTable"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="left"
                                        width="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width="24"
                                              style="
                                                width: 0.25in;
                                                padding: 0in 0in 0in 0in;
                                              "
                                            >
                                              <p
                                                class="x_MsoNormal"
                                                align="center"
                                                style="text-align: center"
                                              >
                                                <a
                                                  href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.facebook.com%2FAROBS&amp;data=05%7C01%7Chorea.rosca%40arobs.com%7C16f07c3889b44c7b152908db6daaef75%7C862d9b8748a54ed9b64a0f6677b9f873%7C0%7C0%7C638224353193285177%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=RXKEUlW1HSs4he6qBVYOPxVvQ3A5uj9hlQNATi7%2BxqY%3D&amp;reserved=0"
                                                  target="_blank"
                                                  rel="noopener noreferrer"
                                                  data-auth="Verified"
                                                  originalsrc="https://www.facebook.com/AROBS"
                                                  shash="qv/eqsZ19HYfTU+Ivq+puLKd6+MHhkhVPW8UZBekrNuJGhfjqn7yePcNX5UXY6epFXMHSCoEU/RcNoGhVyTTn78KG0dmCdqIcc49heVia7ovDEPKM5IUZ2624R5ZjEFa/FDZ1s2MGyQOr9ondpouGUeftamOfZJAQPWlVjGL+M8="
                                                  title="Original URL: https://www.facebook.com/AROBS. Click or tap if you trust this link."
                                                  data-ogsc=""
                                                  data-linkindex="4"
                                                  style="
                                                    color: rgb(
                                                      219,
                                                      151,
                                                      255
                                                    ) !important;
                                                  "
                                                  ><span
                                                    style="
                                                      color: rgb(
                                                        212,
                                                        144,
                                                        255
                                                      ) !important;
                                                      text-decoration: none;
                                                    "
                                                    data-ogsc="blue"
                                                    ><img
                                                      data-imagetype="External"
                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png"
                                                      border="0"
                                                      width="24"
                                                      height="24"
                                                      id="x__x0000_i1029"
                                                      alt="Facebook"
                                                      style="
                                                        width: 0.25in;
                                                        height: 0.25in;
                                                        color: rgb(
                                                          212,
                                                          144,
                                                          255
                                                        ) !important;
                                                      "
                                                      data-ogsc="" /></span
                                                ></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td valign="top" style="padding: 0in 0in 0in 0in">
                      <table
                        class="x_MsoNormalTable"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              style="padding: 0in 7.5pt 6.75pt 0in"
                            >
                              <table
                                class="x_MsoNormalTable"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                width="100%"
                                style="width: 100%; border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding: 3.75pt 7.5pt 3.75pt 6.75pt;
                                      "
                                    >
                                      <table
                                        class="x_MsoNormalTable"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="left"
                                        width="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width="24"
                                              style="
                                                width: 0.25in;
                                                padding: 0in 0in 0in 0in;
                                              "
                                            >
                                              <p
                                                class="x_MsoNormal"
                                                align="center"
                                                style="text-align: center"
                                              >
                                                <a
                                                  href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Farobs.com%2F&amp;data=05%7C01%7Chorea.rosca%40arobs.com%7C16f07c3889b44c7b152908db6daaef75%7C862d9b8748a54ed9b64a0f6677b9f873%7C0%7C0%7C638224353193285177%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=J2KSkkaRo0RfIBiYgFNJO3gATuXQTOynb%2FaEUgZNCuk%3D&amp;reserved=0"
                                                  target="_blank"
                                                  rel="noopener noreferrer"
                                                  data-auth="Verified"
                                                  originalsrc="https://arobs.com/"
                                                  shash="m9rgQKxQifmGjXMKMnujkA6ZqAFquyT+FvEQXwlLi2H+chxwtagLrBKzjXT6pYHwOp9Y46ZqwwXEZ0YeLRokwDx2KekOUvU4GV9YmTLKBPlzRb1qgCshVZAPPNhWcvVrUIAALLheT0i5JShRo8FMxd6W2KFZeohqCBSqB3MkKt4="
                                                  title="Original URL: https://arobs.com/. Click or tap if you trust this link."
                                                  data-ogsc=""
                                                  data-linkindex="5"
                                                  style="
                                                    color: rgb(
                                                      219,
                                                      151,
                                                      255
                                                    ) !important;
                                                  "
                                                  ><span
                                                    style="
                                                      color: rgb(
                                                        212,
                                                        144,
                                                        255
                                                      ) !important;
                                                      text-decoration: none;
                                                    "
                                                    data-ogsc="blue"
                                                    ><img
                                                      data-imagetype="External"
                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png"
                                                      border="0"
                                                      width="24"
                                                      height="24"
                                                      id="x__x0000_i1028"
                                                      alt="Website"
                                                      style="
                                                        width: 0.25in;
                                                        height: 0.25in;
                                                        color: rgb(
                                                          212,
                                                          144,
                                                          255
                                                        ) !important;
                                                      "
                                                      data-ogsc="" /></span
                                                ></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td valign="top" style="padding: 0in 0in 0in 0in">
                      <table
                        class="x_MsoNormalTable"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              style="padding: 0in 7.5pt 6.75pt 0in"
                            >
                              <table
                                class="x_MsoNormalTable"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                width="100%"
                                style="width: 100%; border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding: 3.75pt 7.5pt 3.75pt 6.75pt;
                                      "
                                    >
                                      <table
                                        class="x_MsoNormalTable"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="left"
                                        width="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width="24"
                                              style="
                                                width: 0.25in;
                                                padding: 0in 0in 0in 0in;
                                              "
                                            >
                                              <p
                                                class="x_MsoNormal"
                                                align="center"
                                                style="text-align: center"
                                              >
                                                <a
                                                  href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.instagram.com%2Farobs_transilvania%2F%3Fhl%3Den&amp;data=05%7C01%7Chorea.rosca%40arobs.com%7C16f07c3889b44c7b152908db6daaef75%7C862d9b8748a54ed9b64a0f6677b9f873%7C0%7C0%7C638224353193285177%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=F2qpCvfcErflY6Dl%2Bnz9wrgi5nosLdsaWxfOXdEo1bk%3D&amp;reserved=0"
                                                  target="_blank"
                                                  rel="noopener noreferrer"
                                                  data-auth="Verified"
                                                  originalsrc="https://www.instagram.com/arobs_transilvania/?hl=en"
                                                  shash="fFen4CeeeiJkNFbZghB5/NlcMtQxObl3Pd8SHbtKySDp7AH4thnVsTzWmkdxxcPZ8Zw524Lu+5v9otQdEkY5+5bI+uipUSg9Aif9I0d6dRDVRYw6brfPO1KTDY2XIyz8EIQSUgbnqIO3mqzDZ3ThK2XTVt05RRXGrxLB8PIaWjk="
                                                  title="Original URL: https://www.instagram.com/arobs_transilvania/?hl=en. Click or tap if you trust this link."
                                                  data-ogsc=""
                                                  data-linkindex="6"
                                                  style="
                                                    color: rgb(
                                                      219,
                                                      151,
                                                      255
                                                    ) !important;
                                                  "
                                                  ><span
                                                    style="
                                                      color: rgb(
                                                        212,
                                                        144,
                                                        255
                                                      ) !important;
                                                      text-decoration: none;
                                                    "
                                                    data-ogsc="blue"
                                                    ><img
                                                      data-imagetype="External"
                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png"
                                                      border="0"
                                                      width="24"
                                                      height="24"
                                                      id="x__x0000_i1027"
                                                      alt="Instagram"
                                                      style="
                                                        width: 0.25in;
                                                        height: 0.25in;
                                                        color: rgb(
                                                          212,
                                                          144,
                                                          255
                                                        ) !important;
                                                      "
                                                      data-ogsc="" /></span
                                                ></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td valign="top" style="padding: 0in 0in 0in 0in">
                      <table
                        class="x_MsoNormalTable"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              style="padding: 0in 0in 6.75pt 0in"
                            >
                              <table
                                class="x_MsoNormalTable"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                width="100%"
                                style="width: 100%; border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding: 3.75pt 7.5pt 3.75pt 6.75pt;
                                      "
                                    >
                                      <table
                                        class="x_MsoNormalTable"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="left"
                                        width="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width="24"
                                              style="
                                                width: 0.25in;
                                                padding: 0in 0in 0in 0in;
                                              "
                                            >
                                              <p
                                                class="x_MsoNormal"
                                                align="center"
                                                style="text-align: center"
                                              >
                                                <a
                                                  href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Farobs%2F&amp;data=05%7C01%7Chorea.rosca%40arobs.com%7C16f07c3889b44c7b152908db6daaef75%7C862d9b8748a54ed9b64a0f6677b9f873%7C0%7C0%7C638224353193285177%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=%2FHpYX6AYC%2B7s3I2mrX9AMfJ5w9XEZQdmNNnG86w6tQ4%3D&amp;reserved=0"
                                                  target="_blank"
                                                  rel="noopener noreferrer"
                                                  data-auth="Verified"
                                                  originalsrc="https://www.linkedin.com/company/arobs/"
                                                  shash="sr1G1sPXBGwzwlKWPjyLZ5IDav6lsf6YLBltftnff967x5/spBQDxAN4VkKqpdHzYmCiOIUljimAVKv0NiyrhQDrc27Mbl3T6u441nuSKwfTfihbWuayDJpx9wbGF9dVZ8sYHTCRBku17mE/VEPfzDS87GiJaLctMNwvAJmIfKc="
                                                  title="Original URL: https://www.linkedin.com/company/arobs/. Click or tap if you trust this link."
                                                  data-ogsc=""
                                                  data-linkindex="7"
                                                  style="
                                                    color: rgb(
                                                      219,
                                                      151,
                                                      255
                                                    ) !important;
                                                  "
                                                  ><span
                                                    style="
                                                      color: rgb(
                                                        212,
                                                        144,
                                                        255
                                                      ) !important;
                                                      text-decoration: none;
                                                    "
                                                    data-ogsc="blue"
                                                    ><img
                                                      data-imagetype="External"
                                                      src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png"
                                                      border="0"
                                                      width="24"
                                                      height="24"
                                                      id="x__x0000_i1026"
                                                      alt="LinkedIn"
                                                      style="
                                                        width: 0.25in;
                                                        height: 0.25in;
                                                        color: rgb(
                                                          212,
                                                          144,
                                                          255
                                                        ) !important;
                                                      "
                                                      data-ogsc="" /></span
                                                ></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
